body {
    font-family: Arial, sans-serif;
    background: #fdfcfc;
    margin: 0;
    padding: 0;
 
}
.iphone1, .iphone2, .iphone3 {
    background-color: #fff; 
    width: calc(33.33% - 10px); 
    position: relative;
 
}

.iphone1 {
    margin-right: 2em; 

}

.iphone3 {
    margin-left: 2em;
}

.top-section {
    background-color: #fffc00;
    height: 60px;
    width: 60%;
    margin: 3em;
    margin-top: -3em;
    margin-left: -3.8em;
    display: flex;
    flex-direction: row; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.image {
    height: 60px;
    width: auto; 
    margin-left: auto; 
    padding: .5em;
}


.container {
    
    height: 101px;
    width: 100%;
   padding: 5em;
   padding-left: -2em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.login-via-google-btn {
    background-color: #000000;
    color: #fffc00; 
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 262px;
    margin-top: -10em;
}

.trouble-logging-in {
    color: #000000;
    text-align: left;
    font-size: 10px;
    font-family: HelveticaNeue;
    position: absolute;
    bottom: 20px;
    left: 165px;
    top: 314px;
    width: 107px;
    margin-top: -13em;
    
}

.welcome-head {
    color: #000000;
    text-align: left;
    font-size: 24px;
    font-family: HelveticaNeue;
    position: absolute;
    left: 116px;
    top: 154px;
    margin-left: 1em;
    margin-top: -5em;
}



.sign-up {
    text-align: left;
    font-size: 10px;
    font-family: HelveticaNeue;
    position: absolute;
    left: 118px;
    top: 698px;
    width: 194px;
    margin-bottom: 5em;
    margin-left: 1.8em;
    margin-top: -14em;
}

.username-field {
    width: 301.57px;
    height: 21.82px;
    top: 427.2px;
    left: 64.21px;
    position: absolute;
    margin-top: -11em;
}

.or3 {
    color: #bbbbbb;
    text-align: left;
    font-size: 18px;
    font-family: HelveticaNeue;
    position: absolute;
    left: 200px;
    top: 363px;
    width: 30px;
    margin-top: -8em;
    margin-left: -.5em;
}




.login{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: .5em;
    margin-top: 1em;
    background-color: #bbbbbb;
    height: 55px;
    width: 240px;
    border-radius: 50px;
    position: absolute;
    top: 604px;
    left: 85px;
    text-align: center;
    margin-top: -7em;
    margin-left: .7em;
}

.login-via-google {
    color: #fffc00;
    text-align: left;
    font-size: 18px;
    font-family: HelveticaNeue;
    position: absolute;
    left: 132px;
    top: 250px;
    width: 168px;
    height: 24px;
}



.password-field{
    width: 301.57px;
    height: 21.82px;
    top: 498.4px;
    left: 64.21px;
    position: absolute;
    margin-top: -11em;
}

.forget-password {
    color: #0c45d8;
    text-align: left;
    font-size: 10px;
    font-family: HelveticaNeue;
    position: absolute;
    left: 282px;
    top: 541px;
    width: 84px;
    margin-top: -15em;
}
